<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html>

  <head>
    <title>Python Flask Starter Application</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/stylesheets/style.css">

  </head>

  <body>

	<div id="nav">
          <h1> <span class = "blue">PYTHON FLASK APPLICATION</span> </h1>
          <ul>
      <li><a href="/">Upload</a></li>
      <li><a href="/view/">View Files</a></li>
  </ul>
      </div>
    <table>
      <tr>
        <td style= "width:30%;">
          <img class = "newappIcon" src="../static/images/newapp-icon.png">
		</td>

      </tr>
    </table>

            <h1>Upload Files to Cloudant</h1>

                    <button onclick="window.location.href='demo.html'">List files</button>




  </body>
</html>
